h1 {
    text-align: center;
    color: #ff7381;
}

body{
    color:#9bca26;
    background-color:#feff51;
}
#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid #ff7381;
    border-bottom: 5px solid #ff7381;
    
}

.column {
    width: 18%;
    padding: 100px 0px;
    margin-left: 100px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin:20px;
    border:2px solid;
    border-color: #ff7381;;
}

#songs p{
    font-size: 18px;
    height:100px;
    font-weight: bold;
    margin: 20px;
}

#artists p {
    font-size: 18px;
    height:100px;
    margin: 20px;
}

#lengths p {
    font-size: 16px;
    height:100px;
    margin: 20px;
}

#links a{
    display: block;
    font-size: 18px;
    height:100px;
    font-weight: bold;
    margin: 20px;
}

.i{
    height:50%;
    width:60%;	
    border-color:#ffff4e;
    border-radius:100%;
    color:	#ff7381;
    background-color:#ffff00;
}

/*#plays p{
    font-size: 18px;
    height:100px;
    font-weight: bold;
    margin: 20px;
}*/

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input {
    padding: 5px 10px;
    font-size: 14px; 
    border:1px solid #ff7381;
    color:	#ff7381;
}

::placeholder{
     color:	#ff7381;
}

button {
    font-size: 14px;
    padding: 5px 10px;
    border-color:#ffff4e;
    color:#227754;
    background-color:#ffff00;
}

/*do animation of spinning if linking to iframe is possible